#content {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: #2F313D;
}

nav {
    background-color: aliceblue;
    float: right;
    width: 100%;

}

picture {
    width: 10%;
}

nav ul {

}

nav ul li {
    display: inline;
    float: right;
    margin-right: 1%;
    padding: 10px;
}

h1 {

}

h2 {
    color: #F65A6E;

}

h3 {

}

h5 {
    color: #F65A6E;

}

section {
    
}

.green {
    text-transform: uppercase;
    width: 150px;
    height: 50px;
    text-align: center;
    
    background-color: #00D275;
    color: white;

}

#container {
    width: 40%;
    background-color: aliceblue;
}

p {

}


article {
    width: 25%;
    float: left;
    margin: 10px;
    padding: 10px;
    background-color: bisque;
    text-align: center;
    border: 5px, grey;
}