* {
    margin: 0;
    padding: 0;
}

#wrapper {

}

#header {

}

ul {
    list-style-type: none;
    text-decoration: none;
}

li a {
    display: inline;

}

#main_section {

}

h1 {
    text-align: center;
    font-size: 36px;
}

article {
    width: 45%

}

#about, #background {
    float: left;
}

#skills_table {

}

#footer {

}